html,
html::before,
html::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header.is-fixed {
  z-index: 103;
  background: #fff;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}


@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

body {
  background-color: #fafafa;
}

.navbar-nav li, a {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'Roboto Mono';
}

.navbar-nav {
  margin: 0 auto;
}

main {
  padding-top: 4.8rem;
}

.intro {
  padding: 5rem 3rem;
  text-align: center;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#name {
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
  font-family: 'Roboto Mono'
}

#resume a {
  text-decoration: none;
  font-family: Raleway;
  padding: 1rem;
  font-weight: 600;
}

.about-me {
  padding: 5rem 3rem;
  text-align: center;
}

.content img {
  width: 60%;
  height: auto;
}

.content {
  flex-direction: column;
  align-items: center;
}

.desc {
  font-family: 'Montserrat';
  padding-top: 5rem;
  text-align: justify;
  font-size: 1rem;
}

.titles {
  font-family: Poppins;
  font-weight: 800;
  letter-spacing: .1ch;
}

.experiences {
  padding: 5rem 2rem;
}

.cards {
  position: relative;
}

.card {
  width: fit-content;
  margin-bottom: 1.2rem;
  min-height: 19rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly !important;
  align-items: center !important;
}

.card img {
  width: 30% !important;
  height: auto;
  margin: 1.5rem;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-images {
  width: fit-content !important;
}

.year {
  margin-top: auto !important;
}

.owl-nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 37%;
}

.owl-nav:hover {
  background-color: transparent !important;
}

.owl-nav span {
  font-size: 3rem;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: unset !important;
}

.project-description {
  display: flex;
  flex: 1;
}

.project .titles {
  padding-top: 2.5rem;
  padding-inline: 1rem;
  font-size: 1.4rem;
}

.project-images {
  width: 110%;
  height: auto;
}

.project-description p {
  font-family: 'Montserrat';
  text-align: left;
  padding: 1.5rem;
}

.card .project-images img{
  width: 80% !important;
  height: auto;
  padding: 2rem 0 1rem 0;
}

.projects .card {
  width: 85%;
  height: auto;
  margin-inline: auto;
}

.technical, .non-technical {
  width: 80%;
  height: auto;
  margin-inline: auto;
  padding: 2rem;
  font-family: 'Roboto Mono';
  font-weight: bold;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.skill.card {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  margin-top: 3rem;
}

.contact .content{
  text-align: left;
}

.contact .form-control {
  border-radius: 10px;
  font-family: 'Roboto Mono';
  font-weight: 600;
  font-size: 1rem !important;
  margin-bottom: 1rem;
}

.contact .card {
  margin-inline: auto;
  width: 80%;
  height: auto;
  padding: 2rem;
}

.contact .form-control::placeholder {
  font-family: 'Raleway';
  font-weight: 600;
  font-size: .7rem !important;
}

.contact form label {
  font-family: 'Roboto Mono';
  font-weight: 600;
  font-size: 1rem !important;
  margin-bottom: .5rem;
}

.contact button {
  font-family: 'Roboto Mono';
  font-weight: 600;
  font-size: 1rem !important;
  margin-bottom: 1rem;
  width: 100%;
  margin: 0;
}

.contact textarea {
  height: 10rem;
}

.social-media {
  padding: 3rem 1.5rem;
}

.social-media h3 {
  color: #fafafa;
  font-family: Roboto;
  font-size: 1.8rem;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 2rem;
}

.social-lists{
  display: grid;
  width: min-content;
  grid-template-areas:  "icon1 list1"
  "icon2 list2"
  "icon3 list3"
  "icon4 list4";
  grid-template-rows: repeat(4, 50px);
  grid-template-columns: 40px 1fr;
  grid-gap: 20px;
  place-items: center start;
  margin-inline: auto;
  
}

.social-media i {
  font-size: 2rem;
  margin-right: 1rem;
  color: #fafafa;
} 

#linkedin-icon {
  grid-area: icon1;
}

#email-icon {
  grid-area: icon2;
}

#instagram-icon {
  grid-area: icon3;
}

#github-icon {
  grid-area: icon4;
}

#linkedin-list {
  grid-area: list1;
}

#email-list {
  grid-area: list2;
}

#instagram-list {
  grid-area: list3;
}

#github-list {
  grid-area: list4;
}

.social-media p, .social-media a {
  font-family: 'Roboto Mono';
  font-weight: 600;
  font-size: 1rem !important;
  margin: 0;
  color: #fafafa;
}

@media screen and (min-width: 1000px) {
  main {
    margin-top: 90px;
  }

  .intro {
    height: calc(100vh - 90px);
  }

  .intro .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  #name {
    width: fit-content;
    margin: 0 auto;
  }

  .typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .1em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(35, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }


  .navbar-toggler {
    display: none;
  }

  .navbar-nav li, a {
    text-align: right;
    margin: 0.5rem;
  }
  
  .navbar-nav {
    margin: 0;
  }

  main {
    padding-top: 0;
  }

  .intro {
    padding: 5rem;
  }

  .content img {
    width: 40%;
    margin-right: 2rem;
  }

  .content {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .desc {
    width: 50%;
    padding-top: 0;
    padding-left: 3rem;
    font-size: 1.25rem;
  }

  .card {
    box-shadow: 0px 5px 25px -14px rgba(0,0,0,0.60);
    -webkit-box-shadow: 0px 5px 25px -14px rgba(0,0,0,0.60);
    -moz-box-shadow: 0px 5px 25px -14px rgba(0,0,0,0.60);
  }

  .about-me, .projects, .experiences {
    padding-top: 10rem;
  }

  .project-description p {
    font-size: 1.2rem;
  }

  .projects .titles {
    font-size: 2rem;
  }

  .project {
    padding: 4rem;
    margin: 3rem auto;
  }

  .skills-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .skill.card {
    width: 30%;
    margin: 1rem;
  }

  .skill img {
    width: auto !important;
    height: 100px;
  }

  .contact form{
    width: 100%;
  }

  .social-media {
    margin-top: 3rem;
    width: 100%;
  }

  .social-media h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .social-lists {
    margin-inline: auto;
  }

  .social-media i {
    margin-right: 3rem;
    font-size: 2.5rem;
  }

  .social-media p, .social-media a {
    font-size: 1.3rem !important;
  }


  .skills, .contact {
    padding-top: 9rem
  }
}